{% extends 'panel/base.html' %}

{% block title %}Registrar Vehículo{% endblock %}

{% block header_title %}Registrar Vehículo{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <h2 class="mb-4">Registrar Nuevo Vehículo</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Registrar Vehículo</button>
    </form>
    <a class="btn btn-primary btn-lg mt-3" href="{% url 'lista_vehiculos' %}">Regresar</a>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}