{% extends 'panel/base.html' %}

{% block title %}Ingresar Datos de Conductor{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<style>
    /* Estilos adicionales personalizados */
    .form-container {
        width: 100%;
        max-width: 500px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #ffffff; /* Color de fondo del contenedor */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
    }

    .form-container h2 {
        margin-bottom: 20px;
        text-align: center;
        color: #000; /* Color de texto del encabezado */
    }

    .form-control {
        margin-bottom: 10px;
        color: #000; /* Color de texto de los campos del formulario */
    }

    .form-control::placeholder {
        color: #6c757d; /* Color de texto del placeholder */
    }

    .btn-submit {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-submit:hover {
        background-color: #0056b3;
    }
</style>
<br>
<br>
<br>
<br>
<div class="form-container">
    <h2>Ingresar Datos de Conductor</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-submit">Guardar Datos de Conductor</button>
    </form>
</div>
{% endblock %}
